# Ignore this specific folder
env_database/

# Ignore any folder whose name starts with "env"
env*/

# Env files (API keys, secrets)
.env

*.json
*.jsonl
*.csv
*.png

chroma*/

__pycache__/

git*/

kb*
kb_data/